<div class="container-fluid">
  <h3>Course Navigator ({{courses.length}})</h3>

  <div class="row">
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item">Courses</li>
        <li *ngFor="let course of courses"
            class="list-group-item"
            [ngClass]="{'active': course.id === selectedCourseId}"
            (click)="selectCourse(course.id)">
          {{course.title}}
        </li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active">Modules</li>
        <li *ngFor="let module of modules"
            class="list-group-item"
            (click)="selectModule(module.id)">
          {{module.title}}
        </li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active">Lessons</li>
        <li *ngFor="let lesson of lessons"
            class="list-group-item"
            (click)="selectLesson(lesson.id)">
          {{lesson.title}}
        </li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active">Topics</li>
        <li *ngFor="let topic of topics"
            class="list-group-item"
            (click)="selectTopic(topic.id)">
          {{topic.title}}
        </li>
      </ul>
    </div>
    <div class="col-2">
      <ul class="list-group">
        <li class="list-group-item active">Widgets</li>
        <li *ngFor="let widget of widgets"
            class="list-group-item">
          {{widget.name}}
        </li>
      </ul>
    </div>
  </div>

</div>
